:root {
  --brand-color-main: #212121;
  --brand-color-text: #757575;
  --brand-color-focus: #2196f3;
  --brand-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--brand-color-focus);
  text-decoration: none;
}

.logo-black {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}

.logo-white {
  font-family: Raleway;
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
}

.site-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.site-nav a {
  color: var(--brand-color-main);
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--brand-color-focus);
}

.contact-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contact-links a {
  color: var(--brand-color-text);
  text-decoration: none;
}

.contact-links a:hover,
.contact-links a:focus {
  color: var(--brand-color-focus);
}

.hero {
  background-color: var(--brand-background-color);
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero button {
  background-color: var(--brand-color-focus);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.features h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-transform: uppercase;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}

.main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
}

.team {
  background-color: #f5f4fa;
}

.team h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
}

.team p {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}

.footer {
  background-color: var(--brand-background-color);
}

.footer-links address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.footer-links {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-links a {
  color: #acacb0;
  text-decoration: none;
}

.footer-links a:hover,
.footer-links a:focus {
  color: var(--brand-color-focus);
}

.portfolio-button button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio-button button {
  background-color: #f5f4fa;
  color: var(--brand-color-main);
  cursor: pointer;
}

.portfolio-button button:hover,
.portfolio-button button:focus {
  background-color: var(--brand-color-focus);
  color: #ffffff;
}

.portfolio-gallery h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-main);
}

.portfolio-gallery p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}
